<app-project-modal></app-project-modal>
<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Projects</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="'/dashboard/admin'">Dashboard</a></li>
                    <li class="breadcrumb-item active">Projects</li>
                </ul>
            </div>
            <div class="col-auto float-end ms-auto">
                <a class="btn add-btn" data-bs-toggle="modal" data-bs-target="#create_project"><i class="fa-solid fa-plus"></i>
                    Create Project</a>
                <div class="view-icons">
                    <a [routerLink]="'/projects/project-page'" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
                    <a [routerLink]="'/projects/project-list'" class="list-view btn btn-link "><i
                            class="fa-solid fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus inputs">
                <mat-form-field class="example-full-width">
                  <mat-label>Projects Name</mat-label>
                  <input type="text" matInput>
                </mat-form-field>
              </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus inputs">
                <mat-form-field class="example-full-width">
                  <mat-label>Employee Name</mat-label>
                  <input type="text" matInput>
                </mat-form-field>
              </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus select-focus select">
                <mat-form-field appearance="fill">
                  <mat-label>Designation</mat-label>
                  <mat-select>
                    <mat-option>-</mat-option>
                    <mat-option value="option1">Global Technologies</mat-option>
                    <mat-option value="option2">Delta Infotech</mat-option>
                    <mat-option value="option3">Cream Inc</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="btn btn-success w-100"> Search </a>
        </div>
    </div>
    <!-- Search Filter -->

    <div class="row">
        <div *ngFor="let project of projects" class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown dropdown-action profile-action">
                        <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
                                class="material-icons material-color">more_vert</i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_project"
                                ><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_project"
                                ><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                        </div>
                    </div>
                    <h4 class="project-title"><a [routerLink]="'/projects/project-view'">{{project.name}}</a>
                    </h4>
                    <small class="block text-ellipsis m-b-15">
                        <span class="text-xs me-1">1</span> <span class="text-muted">open tasks, </span>
                        <span class="text-xs me-1">9</span> <span class="text-muted">tasks completed</span>
                    </small>
                    <p class="text-muted">{{project.description}}
                    </p>
                    <div class="pro-deadline m-b-15">
                        <div class="sub-title">
                            Deadline:
                        </div>
                        <div class="text-muted">
                            {{project.endDate}}
                        </div>
                    </div>
                    <div class="project-members m-b-15">
                        <div>Project Leader :</div>
                        <ul class="team-members">
                            <li>
                                <a data-bs-toggle="tooltip" title="Jeffery Lalor"><img alt=""
                                        src="assets/img/profiles/avatar-9.jpg"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" title="Jeffery Lalor"><img alt=""
                                        src="assets/img/profiles/avatar-8.jpg"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" title="Jeffery Lalor"><img alt=""
                                        src="assets/img/profiles/avatar-7.jpg"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="project-members m-b-15">
                        <div>Team :</div>
                        <ul class="team-members">
                            <li>
                                <a data-bs-toggle="tooltip" title="John Doe"><img alt=""
                                        src="assets/img/profiles/avatar-2.jpg"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" title="Richard Miles"><img alt=""
                                        src="assets/img/profiles/avatar-9.jpg"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" title="John Smith"><img alt=""
                                        src="assets/img/profiles/avatar-8.jpg"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" title="Mike Litorus"><img alt=""
                                        src="assets/img/profiles/avatar-5.jpg"></a>
                            </li>
                            <li class="dropdown avatar-dropdown">
                                <a class="all-users dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">+15</a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="avatar-group">
                                        <a class="avatar avatar-xs">
                                            <img alt="" src="assets/img/profiles/avatar-2.jpg">
                                        </a>
                                        <a class="avatar avatar-xs">
                                            <img alt="" src="assets/img/profiles/avatar-9.jpg">
                                        </a>
                                        <a class="avatar avatar-xs">
                                            <img alt="" src="assets/img/profiles/avatar-8.jpg">
                                        </a>
                                        <a class="avatar avatar-xs">
                                            <img alt="" src="assets/img/profiles/avatar-5.jpg">
                                        </a>
                                        <a class="avatar avatar-xs">
                                            <img alt="" src="assets/img/profiles/avatar-6.jpg">
                                        </a>
                                        <a class="avatar avatar-xs">
                                            <img alt="" src="assets/img/profiles/avatar-7.jpg">
                                        </a>
                                        <a class="avatar avatar-xs">
                                            <img alt="" src="assets/img/profiles/avatar-9.jpg">
                                        </a>
                                        <a class="avatar avatar-xs">
                                            <img alt="" src="assets/img/profiles/avatar-1.jpg">
                                        </a>
                                        <a class="avatar avatar-xs">
                                            <img alt="" src="assets/img/profiles/avatar-5.jpg">
                                        </a>
                                    </div>
                                    <div class="avatar-pagination">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" aria-label="Previous">
                                                    <span aria-hidden="true">«</span>
                                                    <span class="visually-hidden">Previous</span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link">1</a></li>
                                            <li class="page-item"><a class="page-link">2</a></li>
                                            <li class="page-item">
                                                <a class="page-link" aria-label="Next">
                                                    <span aria-hidden="true">»</span>
                                                    <span class="visually-hidden">Next</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p class="m-b-5">Progress <span class="text-success float-end">40%</span></p>
                    <div class="progress progress-xs mb-0">
                        <div class="progress-bar bg-success" role="progressbar" data-bs-toggle="tooltip" title="40%"
                            style="width: 40%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->