<!-- Create Project Modal -->
<div id="create_project" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Project</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addProjectForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Project Name</label>
                                <input class="form-control" type="text"
                                    [class.invalid]="addProjectForm.get('projectName').invalid && addProjectForm.get('projectName').touched"
                                    formControlName="projectName">
                                <div
                                    *ngIf="addProjectForm.get('projectName').invalid && addProjectForm.get('projectName').touched">
                                    <small
                                        *ngIf="addProjectForm.get('projectName').invalid && addProjectForm.get('projectName').touched"
                                        class="text-danger"> *Name is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Client</label>
                                <select class="form-select form-control">
                                    <option>Global Technologies</option>
                                    <option>Delta Infotech</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Start Date</label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker" bsDatepicker type="text"                                       
                                        [class.invalid]="addProjectForm.get('projectStartDate').invalid && addProjectForm.get('projectStartDate').touched"
                                        formControlName="projectStartDate">
                                </div>
                                <div
                                    *ngIf="addProjectForm.get('projectStartDate').invalid && addProjectForm.get('projectStartDate').touched">
                                    <small
                                        *ngIf="addProjectForm.get('projectStartDate').invalid && addProjectForm.get('projectStartDate').touched"
                                        class="text-danger"> *Start Date is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>End Date</label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker" bsDatepicker type="text"
                                        
                                        [class.invalid]="addProjectForm.get('projectEndDate').invalid && addProjectForm.get('projectEndDate').touched"
                                        formControlName="projectEndDate">
                                </div>
                                <div
                                    *ngIf="addProjectForm.get('projectEndDate').invalid && addProjectForm.get('projectEndDate').touched">
                                    <small
                                        *ngIf="addProjectForm.get('projectEndDate').invalid && addProjectForm.get('projectEndDate').touched"
                                        class="text-danger"> *Date is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Rate</label>
                                <input placeholder="$50" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <select class="form-select form-control">
                                    <option>Hourly</option>
                                    <option>Fixed</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Priority</label>
                                <select class="form-select form-control"
                                    [class.invalid]="addProjectForm.get('projectPriority').invalid && addProjectForm.get('projectPriority').touched"
                                    formControlName="projectPriority">
                                    <option>High</option>
                                    <option>Medium</option>
                                    <option>Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Add Project Leader</label>
                                <input class="form-control" type="text"
                                    [class.invalid]="addProjectForm.get('projectLeader').invalid && addProjectForm.get('projectLeader').touched"
                                    formControlName="projectLeader">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Team Leader</label>
                                <div class="project-members">
                                    <a data-bs-toggle="tooltip" title="Jeffery Lalor" class="avatar">
                                        <img src="assets/img/profiles/avatar-6.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Add Team</label>
                                <input class="form-control" type="text"
                                    [class.invalid]="addProjectForm.get('addTeamMembers').invalid && addProjectForm.get('addTeamMembers').touched"
                                    formControlName="addTeamMembers">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Team Members</label>
                                <div class="project-members">
                                    <a data-bs-toggle="tooltip" title="John Doe" class="avatar">
                                        <img src="assets/img/profiles/avatar-17.jpg" alt="">
                                    </a>
                                    <a data-bs-toggle="tooltip" title="Richard Miles" class="avatar">
                                        <img src="assets/img/profiles/avatar-9.jpg" alt="">
                                    </a>
                                    <a data-bs-toggle="tooltip" title="John Smith" class="avatar">
                                        <img src="assets/img/profiles/avatar-10.jpg" alt="">
                                    </a>
                                    <a data-bs-toggle="tooltip" title="Mike Litorus" class="avatar">
                                        <img src="assets/img/profiles/avatar-5.jpg" alt="">
                                    </a>
                                    <span class="all-team">+2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control summernote" placeholder="Enter your message here"
                            [class.invalid]="addProjectForm.get('projectDescription').invalid && addProjectForm.get('projectDescription').touched"
                            formControlName="projectDescription"></textarea>
                        <div
                            *ngIf="addProjectForm.get('projectDescription').invalid && addProjectForm.get('projectDescription').touched">
                            <small
                                *ngIf="addProjectForm.get('projectDescription').invalid && addProjectForm.get('projectDescription').touched"
                                class="text-danger"> *Description is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Upload Files</label>
                        <input class="form-control" type="file">
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Create Project Modal -->

<!-- Edit Project Modal -->
<div id="edit_project" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Project</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editProjectForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Project Name</label>
                                <input class="form-control" type="text"
                                    [class.invalid]="editProjectForm.get('editProjectName').invalid && editProjectForm.get('editProjectName').touched"
                                    formControlName="editProjectName">
                                <div
                                    *ngIf="editProjectForm.get('editProjectName').invalid && editProjectForm.get('editProjectName').touched">
                                    <small
                                        *ngIf="editProjectForm.get('editProjectName').invalid && editProjectForm.get('editProjectName').touched"
                                        class="text-danger"> *Name is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Client</label>
                                <select class="form-select form-control">
                                    <option>Global Technologies</option>
                                    <option>Delta Infotech</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Start Date</label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                        
                                        [class.invalid]="editProjectForm.get('editProjectStartDate').invalid && editProjectForm.get('editProjectStartDate').touched"
                                        formControlName="editProjectStartDate">
                                    <div
                                        *ngIf="editProjectForm.get('editProjectStartDate').invalid && editProjectForm.get('editProjectStartDate').touched">
                                        <small
                                            *ngIf="editProjectForm.get('editProjectStartDate').invalid && editProjectForm.get('editProjectStartDate').touched"
                                            class="text-danger"> *Start date is required</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>End Date</label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                       
                                        [class.invalid]="editProjectForm.get('editProjectEndDate').invalid && editProjectForm.get('editProjectEndDate').touched"
                                        formControlName="editProjectEndDate">
                                    <div
                                        *ngIf="editProjectForm.get('editProjectEndDate').invalid && editProjectForm.get('editProjectEndDate').touched">
                                        <small
                                            *ngIf="editProjectForm.get('editProjectEndDate').invalid && editProjectForm.get('editProjectEndDate').touched"
                                            class="text-danger"> *End date is required</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Rate</label>
                                <input placeholder="$50" class="form-control" value="$5000" type="text">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <select class="form-select form-control">
                                    <option>Hourly</option>
                                    <option selected>Fixed</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Priority</label>
                                <select class="form-select form-control"
                                    [class.invalid]="editProjectForm.get('editProjectPriority').invalid && editProjectForm.get('editProjectPriority').touched"
                                    formControlName="editProjectPriority">
                                    <option selected>High</option>
                                    <option>Medium</option>
                                    <option>Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Add Project Leader</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Team Leader</label>
                                <div class="project-members">
                                    <a data-bs-toggle="tooltip" title="Jeffery Lalor" class="avatar">
                                        <img src="assets/img/profiles/avatar-16.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Add Team</label>
                                <input class="form-control" type="text"
                                    [class.invalid]="editProjectForm.get('editaddTeamMembers').invalid && editProjectForm.get('editaddTeamMembers').touched"
                                    formControlName="editaddTeamMembers">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Team Members</label>
                                <div class="project-members">
                                    <a data-bs-toggle="tooltip" title="John Doe" class="avatar">
                                        <img src="assets/img/profiles/avatar-17.jpg" alt="">
                                    </a>
                                    <a data-bs-toggle="tooltip" title="Richard Miles" class="avatar">
                                        <img src="assets/img/profiles/avatar-9.jpg" alt="">
                                    </a>
                                    <a data-bs-toggle="tooltip" title="John Smith" class="avatar">
                                        <img src="assets/img/profiles/avatar-10.jpg" alt="">
                                    </a>
                                    <a data-bs-toggle="tooltip" title="Mike Litorus" class="avatar">
                                        <img src="assets/img/profiles/avatar-5.jpg" alt="">
                                    </a>
                                    <span class="all-team">+2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control summernote" placeholder="Enter your message here"
                            [class.invalid]="editProjectForm.get('editProjectDescription').invalid && editProjectForm.get('editProjectDescription').touched"
                            formControlName="editProjectDescription"></textarea>
                        <div
                            *ngIf="editProjectForm.get('editProjectDescription').invalid && editProjectForm.get('editProjectDescription').touched">
                            <small
                                *ngIf="editProjectForm.get('editProjectDescription').invalid && editProjectForm.get('editProjectDescription').touched"
                                class="text-danger"> *Description is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Upload Files</label>
                        <input class="form-control" type="file">
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" >Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Project Modal -->

<!-- Delete Project Modal -->
<div class="modal custom-modal fade" id="delete_project" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Project</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn"
                                >Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-bs-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Project Modal -->