$color_1: #333;
$color_2: #333;
$color_3: #333;
$color_4: #333;
$color_5: #333;
$color_6: #888;
$color_7: #fff;
$background-color_1: #f8f9fa;
$background-color_2: transparent;
$background-color_3: #f6f6f7;
$background-color_4: #333;
$border-color_1: rgba(0, 0, 0, 0.05);
$border-color_2: #dee2e6;

.table {
  background-color: $color_7;
  color: $color_1;
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
   tbody {
     tr {
       th {
        padding: 15px 8px;
      }
       td {
        padding: 10px;
      }
       a {
        color: $color_1;
      }
    }
  }
  .invoice-link {
    color: $color_2;
    &:hover {
      color: $color_3;
    }
  }
  thead {
    background-color: $background-color_2;
    border-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 1;
    tr {
      th {
        padding: 15px 8px;
      }
    }
  }
  td {
    vertical-align: middle;
    white-space: nowrap;
    padding: 10px;
  }
  th {
    vertical-align: middle;
    white-space: nowrap;
  }

  &:not(:first-child) {
    border: 0;
  }

  .dropdown-menu {
    width: 100px;
    background: #ffffff;
    border: 1px solid #f2ecff;
    box-shadow: 0px 4px 4px rgba(231, 234, 252, 0.75);
    border-radius: 6px;
    margin-top: 10px !important;
  }
  .dropdown-item {
    font-weight: 500;
    font-size: 14px;
    color: $color_5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    &:active {
      color: $color_7;
      text-decoration: none;
      background-color: $background-color_4;
    }
    i {
      font-size: 14px;
    }
  }

  .dropdown-item.active {
    color: $color_7;
    text-decoration: none;
    background-color: $background-color_4;
  }
  .dropdown-action {
    .dropdown-toggle {
        &::after {
            display: none;
        }

    }
  }
  .material-icons {
    color: #333;
  }
}
.table-striped {
  > tbody {
    > tr {
      &:nth-of-type(2n + 1) {
        background-color: $background-color_1;
      }
    }
  }
}
.user-add-shedule-list {
  h2{
      a{
          @include margin-padding(null, 10px);
          display: $__inline__block;
          span {
              color: $__dark__gray;
              display: $__block;
              font-size: $__font__size__12;
              margin-top: 3px;
          }
      }
  }
  a{
      border: 1px dashed $__light__battle__gary;
      color: $__light__battle__gary;
      border-radius: 5px;
      display: $__inline__block;
      padding: 10px;
  }
}
.table.no-border {
  > tbody {
    > tr {
      > td {
        padding: 10px 8px;
      }
    }
  }
  > tfoot {
    > tr {
      > td {
        padding: 10px 8px;
      }
      > th {
        padding: 10px 8px;
      }
    }
  }
  > thead {
    > tr {
      > td {
        padding: 10px 8px;
      }
      > th {
        padding: 10px 8px;
      }
    }
  }
}
.table-nowrap {
  td {
    white-space: nowrap;
  }
  th {
    white-space: nowrap;
  }
}
.table.dataTable {
  border-collapse: collapse !important;
}
table.table {
  td {
    h2 {
      display: inline-block;
      font-size: inherit;
      font-weight: 400;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      a {
        color: $color_1;
        &:hover {
          color: $color_4;
        }
      }
      span {
        color: $color_6;
      
        font-size: 12px;
        margin-top: 3px;
      }
    }
    h2.table-avatar {
      align-items: center;
      display: inline-flex;
      font-size: inherit;
      font-weight: 400;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      white-space: nowrap;
    }
    .items-links {
      color: $color_5;
      &:hover {
        color: $color_4;
      }
    }
    border-bottom: 1px solid #dee2e6;
  }
  .dropdown-action {
    margin-bottom: 0;
  }
  th {
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
  }
}
.table.table-center {
  td {
    vertical-align: middle;
  }
  th {
    vertical-align: middle;
  }
}
.table-hover {
  tbody {
    tr {
      &:hover {
        background-color: $background-color_3;
      }
    }
  }
}
.table-bordered {
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
  td {
    &:first-child {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
    &:last-child {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
    border-color: $border-color_1;
    border: 1px solid #dee2e6;
  }
  th {
    border-color: $border-color_1;
    border: 1px solid #dee2e6;
  }
}
.card-table {
  .card-header {
    border-bottom: 0px solid $__light__goose;
    padding: 15px;
  }
.card-footer {
    text-align: $__center;
    a {
        color: $__gray;
    }
}

  .card-body {
    padding: 0;
    .table {
      > thead {
        > tr {
          > th {
            border-bottom: 1.5px solid #e2e5e8;;
          }
        }
      }
      tr {
        td {
          &:first-child {
            padding-left: 1.5rem;
          }
        }
        th {
          &:first-child {
            padding-left: 1.5rem;
          }
        }
      }
    }
  }
  .table {
    td {
      border-top: 1px solid #e2e5e8;
      padding: 0.75rem 0.75rem;
      white-space: nowrap;
    }
    th {
      border-top: 1px solid #e2e5e8;
      padding: 1rem 0.75rem;
      white-space: nowrap;
    }
  }
}
.dropdown-item {
  &:focus {
    color: $color_2;
    background: transparent;
  }
  &:hover {
    color: $color_2;
    background: transparent;
  }
}
.table_header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  @include respond-below(custom991) {
    flex-direction: column;
  }
  .dataTables_length {
    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    select {
      width: auto;
      display: inline-block;
      margin: 0px 3px;
    }
    
  }
  .dataTables_filter {
    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    input {
      width: auto;
      display: inline-block;
      margin: 0px 3px;
    }
  }
}
.table_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  .pagination_section {
    display: flex;
    justify-content: flex-end;
  }
}
.table-scroll {
  max-height: calc(100vh - 350px);
  overflow-x: auto;
}
.filter-row {
    .btn {
        min-height: 50px;
        text-transform: $__uppercase;
        @include margin-padding(null, 12px);
    }
}
